<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <ul>
      <li>
        <a
          href="https://www.linkedin.com/in/john-grabkowski-84319714b/"
          target="_blank"
        >
          My LinkedIn
        </a>
      </li>

    </ul>

    <input v-model='newAnimal' @keydown.enter="addAnimal" :class="[newAnimal.length < 2 ? 'red_col' : 'green_col']">
    <button class="btn btn-primary" @click="addAnimal" v-bind:disabled="newAnimal.length < 2"> Add </button>

    <ul>
      <li
        v-for="animal in animals" v-bind:key = animal.id>{{ animal.name }}
      </li>
    </ul>

  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to My Vue.js App',
      animals: [
        { name: 'Dog' },
        { name: 'Fish' },
        { name: 'Cat ' }
      ],
      newAnimal: ''

    }
  },

  methods: {
    addAnimal: function () {
      this.animals.push({name: this.newAnimal})
      this.newAnimal = ''
    }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.red_col {
  border: 2px solid red;
}

.green_col {
  border: 2px solid green;
}

</style>
