<template>
    <v-app>
    <div>
        <h1>Widgets Page</h1>

        <v-tabs
            color="cyan"
            dark
            slider-color="yellow"
            >
            <v-tab
                v-for="cat in cats"
                :key="cat.id"
                ripple
            >
                Item {{ cat.name }}

            </v-tab>

            <v-tab-item
                v-for="cat in cats"
                :key="cat.id"
            >
                <v-card flat>
                <v-card-text>{{ cat.name + '\n' + cat.breed + "\n" + cat.age }}</v-card-text>
                </v-card>
            </v-tab-item>

            <v-tab ripple>
              Card

            </v-tab>
            <v-tab-item>

                <v-layout row>
                    <v-flex xs12 sm6 offset-sm3>
                    <v-card>
                        <v-img :src="require('@/assets/m50.jpg')"
                        height="200px"
                        >
                        </v-img>

                        <v-card-title primary-title>
                        <div>
                            <div class="headline">NRC M-50</div>
                            <span class="grey--text">Ottawa, ON K1K 3Y2</span>
                        </div>
                        </v-card-title>

                        <v-card-actions>
                        <v-btn flat @click="show=true">Show</v-btn>
                        <v-btn flat color ="purple" @click="show=false">Hide</v-btn>
                        <v-spacer></v-spacer>
                        <v-btn icon @click="show = !show">
                            <v-icon>{{ show ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
                        </v-btn>
                        </v-card-actions>

                        <v-slide-y-transition>
                        <v-card-text v-show="show">
                            The National Research Council is the primary national research and technology
                            organization of the Government of Canada, in science and technology research and development.
                            The Minister of Innovation, Science, and Economic Development is responsible for the National Research Council.
                        </v-card-text>
                        </v-slide-y-transition>
                    </v-card>
                    </v-flex>
                </v-layout>

            </v-tab-item>

            <v-tab ripple>
                Table
            </v-tab>
            <!-- Table tab code starts here-->
            <v-tab-item>
                <v-card>
                <v-card-title>
                Countries
                <v-spacer></v-spacer>
                <v-text-field
                    v-model="search"
                    append-icon="search"
                    label="Search"
                    single-line
                    hide-details
                ></v-text-field>
                </v-card-title>
                <v-data-table
                :headers="headers"
                :items="countries"
                :search="search"
                >
                <template v-slot:items="props">
                    <td>{{ props.item.name }}</td>
                    <td class="text-xs-right">{{ props.item.gdp }}</td>
                    <td class="text-xs-right">{{ props.item.gdp_per }}</td>
                    <td class="text-xs-right">{{ props.item.population }}</td>
                </template>
                <template v-slot:no-results>
                    <v-alert :value="true" color="error" icon="warning">
                    Your search for "{{ search }}" found no results.
                    </v-alert>
                </template>
                </v-data-table>
            </v-card>
            </v-tab-item>
    <!-- Table tab code ends here-->
        </v-tabs>
    </div>
    </v-app>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data: () => ({
    search: '',
    headers: [
      {
        text: 'Country',
        align: 'left',
        sortable: true,
        value: 'name'
      },

      { text: 'GDP (trillion usd)', value: 'gdp' },
      { text: 'GDP per capita (thousand usd)', value: 'gdp_per' },
      { text: 'Population (million)', value: 'population' }

    ],

    countries: [
      {
        name: 'Canada',
        gdp: 1.71,
        gdp_per: 51.315,
        population: 37.06
      },

      {
        name: 'China',
        gdp: 12.24,
        gdp_per: 10.200,
        population: 1386
      },

      {
        name: 'United States',
        gdp: 19.39,
        gdp_per: 54.800,
        population: 325.7
      },

      {
        name: 'Poland',
        gdp: 0.586,
        gdp_per: 13.811,
        population: 38.43
      },

      {
        name: 'France',
        gdp: 2.583,
        gdp_per: 38.476,
        population: 66.77
      },

      {
        name: 'United Kingdom',
        gdp: 2.622,
        gdp_per: 39.720,
        population: 66.04
      }

    ],

    show: false
  }),

  computed: {
    ...mapState([
      'cats',
      'dogs'
    ])
  }

}
</script>

<style>

</style>
